@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

:root {
    --primary-color: #3EBE9A;
    --secondary-color: #cecdcd;
}

.beginFeedbackButton {
    border: 1px solid transparent;
    border-radius: 15%;
    
    width: auto;
    height: auto;
    padding: .4rem .55rem;

    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.primary {
    background-color: var(--primary-color);
    color: #ffff;
    transition: all ease-out .2s;

    &:hover{
        transition: all ease-in .2s;
        background-color: #36a888;
    }
}

.secondary {
    transition: all ease-in .2s;
    background-color: var(--secondary-color);
    opacity: 0.7;
    display: none;
}